:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --icons-color: #afb1b8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}

.container {
  padding: 60px 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header-logo,
.footer-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .header-logo,
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header-logo {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.accent-logo {
  color: var(--accent-color);
}

.header > .container {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .header > .container {
    position: relative;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header > .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
    width: 100%;
    padding: 60px 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: translateY(100%);
    text-align: center;
    background-color: #ffffff;
    z-index: 900;
  }
  .nav-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}

.nav-list-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-title-color);
  transition: color 250ms var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .nav-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts-list {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-contacts-list {
    display: flex;
    align-items: center;
  }
}

.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 250ms var(--transition-timing-function);
}

@media screen and (max-width: 767px) {
  .header-contacts-link {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts-link {
    font-size: 12px;
    line-height: 1.67;
  }
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-list-link.current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .nav-list-link.current {
    padding-bottom: 10px;
  }
}

.nav-list-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.menu-btn {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: fill 250ms var(--transition-timing-function);
}

.menu-btn .close-menu-icon {
  display: none;
}

.menu-btn.is-open .close-menu-icon {
  display: block;
}

.menu-btn.is-open .menu-icon {
  display: none;
}

.menu-btn:focus, .menu-btn:hover {
  fill: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.footer {
  background-color: #2f303a;
}

.footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer > .container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer > .container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer > .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left {
    text-align: center;
    margin-right: 165px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contacts-list {
    margin-bottom: 60px;
  }
}

.footer-contacts-list-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts-list-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--transition-timing-function);
}

.footer-adress-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms var(--transition-timing-function);
}

.footer-adress-link:hover,
.footer-adress-link:focus,
.footer-contacts-list-link:hover,
.footer-contacts-list-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-center {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-center {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-center {
    margin-left: 70px;
    margin-right: auto;
  }
}

.footer-social-link-list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-social-link-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-link-list {
    justify-content: space-between;
  }
}

.footer-center-title {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-email-form {
    width: 450px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email-form {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
}

.footer-email-form-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-email-form-title {
    text-align: center;
  }
}

.footer-email-form-field {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-email-form-field {
    flex-direction: column;
  }
}

.footer-email-form-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  color: #ffffff;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  transition: all 250ms var(--transition-timing-function);
}

@media screen and (max-width: 1199px) {
  .footer-email-form-input {
    margin-bottom: 20px;
  }
}

.footer-email-form-input:focus {
  border-color: var(--accent-color);
}

.footer-email-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-form-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing-function);
}

@media screen and (max-width: 1199px) {
  .footer-email-form-btn {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email-form-btn {
    margin-left: 12px;
  }
}

.footer-email-form-btn:hover, .footer-email-form-btn:focus {
  background-color: #188ce8;
}

.footer-email-form-icon {
  margin-left: 10px;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.hero > .container {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  min-height: 480px;
}

@media screen and (min-width: 768px) {
  .hero > .container {
    min-height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero > .container {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
  }
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 380px;
  font-size: 26px;
  line-height: 1.62;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing-function);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: space-between;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    flex-wrap: wrap;
  }
}

.features-list-img {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.features-list-descr {
  color: var(--main-text-color);
}

@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about > .container {
  padding-top: 0;
}

.about-title {
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-list-item {
  position: relative;
}

.about-list-img {
  display: block;
}

.about-list-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list-item {
  padding-bottom: 24px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    padding-bottom: 30px;
    width: 270px;
  }
}

.team-list-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-title-color);
  text-align: center;
}

.team-list-position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
  text-align: center;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icons-color);
  border-radius: 50%;
  transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}

.team-social-link-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
}

.team-social-link:hover, .team-social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.team-social-link-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .clients-list-item {
    margin: 15px;
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item {
    margin: 15px;
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    min-width: 170px;
  }
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}

.clients-list-link:hover, .clients-list-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list-icon {
  fill: currentColor;
}

.filter-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 14px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-btn {
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--main-title-color);
  letter-spacing: inherit;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
}

@media screen and (max-width: 767px) {
  .filter-btn {
    margin-bottom: 15px;
  }
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn:hover, .filter-btn:focus, .filter-btn:active {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.projects-list-item {
  box-sizing: border-box;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .projects-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list-item {
    max-width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list-item {
    max-width: calc((100% - 30px * 3) / 3);
  }
}

.projects-list-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--transition-timing-function);
}

.projects-list-link:hover, .projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-thumb {
  position: relative;
  pointer-events: none;
  overflow: hidden;
}

.projects-list-wrapper {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 300ms var(--transition-timing-function);
}

.projects-list-link:hover .projects-list-wrapper,
.projects-list-link:focus .projects-list-wrapper {
  transform: translateY(-100%);
}

.projects-list-img {
  display: block;
  width: 100%;
}

.projects-list-item-discr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.projects-list-type {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 250ms var(--transition-timing-function);
  z-index: 999;
}

@media screen {
  .backdrop {
    min-height: 609px;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal-window {
    width: calc(100% - 30px);
    min-width: 320px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    min-height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-title-color);
}

.modal-form-field {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  cursor: pointer;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--transition-timing-function);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  fill: var(--main-title-color);
  cursor: pointer;
  transition: fill 250ms var(--transition-timing-function);
}

.modal-form-field:focus-within .modal-form-icon,
.modal-form-field:hover .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-comment-input {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms var(--transition-timing-function);
}

.modal-form-comment-input:focus {
  border-color: var(--accent-color);
}

.modal-form-comment-input::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text {
  display: flex;
  align-items: center;
  margin: 0 auto 30px auto;
  color: var(--main-text-color);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .modal-form-policy-text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form-policy-text::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--main-title-color);
  border-radius: 2px;
  transition: all 250ms var(--transition-timing-function);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background: var(--accent-color) url(../images/icons/icon-check.svg) no-repeat center;
  background-origin: border-box;
}

.modal-form-policy:focus + .modal-form-policy-text::before,
.modal-form-policy:checked + .modal-form-policy-text::before {
  border-color: var(--accent-color);
}

.modal-form-submit-btn {
  display: inline-block;
  width: 200px;
  padding: 10px 32px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing-function);
}

.modal-form-submit-btn:hover, .modal-form-submit-btn:focus {
  background-color: #188ce8;
}

.policy-link {
  color: var(--accent-color);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */