.clients-list {
  display: flex;

  @media screen and (max-width: $tablet - 1) {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }

  &-item {
    @media screen and (max-width: $tablet - 1) {
      margin: 15px;
      width: calc((100% - 30px * 2) / 2);
    }

    @media screen and (min-width: $desktop) {
      min-width: 170px;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;

    color: var(--icons-color);
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    transition: color 250ms var(--transition-timing-function),
      border-color 250ms var(--transition-timing-function);
  }

  &-link:hover,
  &-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  &-icon {
    fill: currentColor;
  }
}
