body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}